<template name="readLaterItem">
  <div class="list-item rtl-{{isRTL}} favorite-{{isFavorite}} read-{{isRead}} later-{{isLater}} new-{{isNew}} lastSeen-{{isLastSeen}}" data-id="{{itemId}}">
    {{> shareOverlay}}
    <div class="list-item-content">
      <a class="list-item-link" href="{{url}}" target="_blank">
        <img class="list-item-icon" src="http://www.google.com/s2/u/0/favicons?domain={{host}}" />
        <span class="list-item-title">{{title}}</span>
      </a><br />
      <span class="list-item-snippet">{{contentSnippet}}</span><br />
      <a data-source="{{sourceId}}" href="http://{{host}}" target="_blank">
        <span class="list-item-subtext ellipsis">{{author}}</span>
      </a>
      {{> updateSubtext}}
    </div>
    <div class="list-item-actions">
      <a class="favorite-btn btn btn-small"><i class="icon-heart"></i> Favorite</a>
      <a class="share-btn btn btn-small"><i class="icon-share-alt"></i> Share</a>
      <a class="remove-btn btn btn-small btn-danger"><i class="icon-remove"></i> Remove</a>
    </div>
  </div>
</template>