<template name="updateSubtext">
  <span class="list-item-subtext">
    <i class="icon-signal"></i>&nbsp;
    {{wordCount}} words
  </span>
  <span class="list-item-date">
    |&nbsp;<i class="icon-time"></i>&nbsp;
    <abbr title="{{date}}"></abbr>
    {{#if isRead}}
    |&nbsp;<i class="icon-eye-open"></i>&nbsp;
    <abbr title="{{readDate}}"></abbr>
    {{/if}}
  </span>
  <span class="list-item-subtext">
    {{#if favorites}}
    |&nbsp;<i class="icon-heart"></i>&nbsp;
    {{favorites}}
    {{/if}}
  </span>
</template>