<template name="trendItem">
  <article class="list-item" data-id="{{updateId}}">
    <div class="list-item-content">
      <header>
        <a data-source="{{sourceId}}" href="http://{{host}}" target="_blank" title="{{author}}">
          <img class="list-item-icon" src="http://www.google.com/s2/u/0/favicons?domain={{host}}" />
          <span class="list-item-author">{{author}}</span>
        </a>
      </header>
      <span class="list-item-title">
        <a class="list-item-link" href="{{url}}" target="_blank">{{title}}</a>
      </span>
      <footer>
        <span class="list-item-date">
          {{#if isRead}}
          <i class="icon-eye-open"></i>&nbsp;
          <abbr title="{{readDate}}"></abbr>
          |&nbsp;
          {{/if}}
        </span>
        <span class="list-item-subtext">
          <i class="icon-heart"></i>&nbsp;
          {{favorites}}
        </span>
      </footer>
    </div>
  </article>
</template>