<template name="updateItem">
  {{#if isLastSeen}}
  <div class="list-item divider">
    <i class="icon-map-marker"></i>
    &nbsp;You've seen up to here
    <a href="#" class="close">&times;</a>
  </div>
  {{/if}}
  <article class="list-item rtl-{{isRTL}} favorite-{{isFavorite}} read-{{isRead}} later-{{isLater}} new-{{isNew}} lastSeen-{{isLastSeen}}" data-id="{{itemId}}">
    {{> shareOverlay}}
    <div class="list-item-content">
      <header>
        <a data-source="{{sourceId}}" href="http://{{host}}" target="_blank" title="{{author}}">
          <img class="list-item-icon" src="http://www.google.com/s2/u/0/favicons?domain={{host}}" />
          <span class="list-item-author">{{author}}</span>
        </a>
      </header>
      <span class="list-item-title">
        <a class="list-item-link" href="{{url}}" target="_blank">{{title}}</a>
      </span><br />
      <span class="list-item-snippet">
        {{contentSnippet}}
      </span>
      <footer>
        {{> updateSubtext}}
      </footer>
    </div>
    <div class="list-item-actions">
      <a class="favorite-btn btn btn-small"><i class="icon-heart"></i> Favorite</a>
      <a class="readLater-btn btn btn-small"><i class="icon-bookmark"></i> Later</a>
      <a class="share-btn btn btn-small"><i class="icon-share-alt"></i> Share</a>
    </div>
  </article>
</template>