<template name="popularFollowItem">
  <article class="list-item" data-id="{{sourceId}}">
    <div class="list-item-content">
      <header>
        <a data-source="{{sourceId}}" href="http://{{host}}" target="_blank" title="{{author}}">
          <img class="list-item-icon" src="http://www.google.com/s2/u/0/favicons?domain={{host}}" />
          <span class="list-item-author">{{author}}</span>
        </a>
      </header>
      <footer>
        <span class="list-item-subtext">
          {{followers}} followers
        </span>
      </footer>
    </div>
  </article>
</template>